<div class="page-header"
     filter-color="orange">
    <div class="page-header-image"
         style="background-image:url(assets/img/login.jpg)"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <form class="form"
                      method=""
                      action="">
                    <div class="header header-primary text-center">
                        <div class="logo-container">
                            <img src="https://static1.clutch.co/sites/default/files/logos/logotipo_belatrix_chico.png"
                                 alt="">
                        </div>
                    </div>
                    <div class="content">

                        <button class="btn btn-neutral btn-facebook btn-icon btn-round btn-lg"
                                type="button"
                                (click)="signUpWithFacebook()">
                            <i class="fa fa-facebook-square"></i>
                        </button>
                        <button class="btn btn-neutral btn-google btn-icon btn-round btn-lg"
                                type="button"
                                (click)="signUpWithGoogle()">
                            <i class="fa fa-google"></i>
                        </button>
                        <button class="btn btn-neutral btn-twitter btn-icon btn-round btn-lg"
                                type="button">
                            <i class="fa fa-twitter"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>