<div class="wrapper">
    <div class="page-header page-header-small"
         filter-color="orange">
        <div class="page-header-image rellax-header"
             data-rellax-speed="-8"
             style="background-image: url('assets/img/bg5.jpg') ;">
        </div>
        <div class="container" *ngIf="userDetails">
            <div class="content-center">
                <div class="photo-container">
                    <img [src]="userDetails.photoURL || img/ryan.jpg"
                         alt="">
                </div>
                <h3 class="title">{{userDetails.displayName}}</h3>
                <p class="category">{{userDetails.role}}</p>
                <div class="content">
                    <div class="social-description">
                        <h2>{{headerData.followers}}</h2>
                        <p>Followers</p>
                    </div>
                    <div class="social-description">
                        <h2>{{headerData.following}}</h2>
                        <p>Following</p>
                    </div>
                    <div class="social-description">
                        <h2>{{headerData.posts}}</h2>
                        <p>Posts</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" *ngIf="userDetails">
        <div class="container">
            <div class="button-container">
                <a href="#"
                   class="btn btn-primary btn-round btn-lg"
                   (click)="updateNumbers()">Follow</a>
                <a [href]="userDetails.linkedin"
                   class="btn btn-default btn-round btn-lg btn-icon"
                   rel="tooltip"
                   title="Follow me on Linked In"
                   target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a [href]="userDetails.instagram"
                   class="btn btn-default btn-round btn-lg btn-icon"
                   rel="tooltip"
                   title="Follow me on Instagram"
                   target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
            <h3 class="title">About me</h3>
            <h5 class="description">{{userDetails.description}}</h5>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">

            <div class="copyright">
                &copy; {{data | date: 'yyyy'}}, Thanks to:
                <a href="http://www.invisionapp.com"
                   target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com"
                   target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>